# -------------------------
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

# -------------------------
# Virtual environment
venv/
.env
*.env

# -------------------------
# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb

# -------------------------
# OS junk
.DS_Store
Thumbs.db

# -------------------------
# IDE
.vscode/
.idea/

# -------------------------
# Cache / Temp
.cache/
*.tmp
*.bak
*.swp

# -------------------------
# Build & dist
dist/
build/
*.egg
*.manifest
*.spec

# -------------------------
# Old / archived
older/